@import "tailwindcss";

:root {
  --color-header-icons: #fff;
  --color-accent: #007bff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.0625rem;
}

body {
  margin: 0;
  padding: 0;
}

.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgColor {
  background-color: #151515;
}

.txtColor {
  color: #151515;
}

.bump {
  animation: bounce 1s ease-in;
}

.scroll-animation {
  animation: marquee 20s linear infinite;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(-50px);}
  100% {transform: translateY(0);}
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

